/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 200px;
}
.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-section {
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border: solid 5px #888888;
  background-color: #DDD8C4;
}

button {
  margin: 10px;
  padding: 20px;
  background-color: rgba(92, 152, 86, 0.841);
  text-decoration-color: white;
  border: solid black;
}

.button_box{
  text-align: center;
}