/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  
.title-section {
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border: solid 5px #888888;
  background-color: #DDD8C4;
  }

  .photo-size {
    width: 600px;
    height: auto;
    margin-left: 20px;
  }

  .alignment {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    margin-left: 10px;
  }

  h3 {
    font-size: 180%;
    margin-bottom: 3px;
  }