.section {
    background-color: rgba(92, 189, 150, 0.516);
    border: solid 2px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

h1,h2,h3,h4,p {
    margin-left: 20px;
}

.output_container {
    background-color: rgba(158, 170, 112, 0.516);
    border: solid 2px;
    margin-bottom: 10px;
    margin-left: 180px;
    margin-right: 180px;
}