.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px #171616;
    background-color: #d9d5c6;
  }

.h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
/*Thsi is to make the subtitle change font*/
.h2 {
  font-family: papyrus, fantasy;
  font-size: 50px;
}

.title-section {
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: solid 5px black;
    background-color: #d9d5c6;
  }

  .body {
    background-color:#7f2c2c;
  }

  p.special {
      font-size: 25px;
      font-family: papyrus, fantasy;
    }